<h1>User list</h1>

<div class="left-inner-addon">
    <i class="glyphicon glyphicon-search"></i>
    <input type="text" class="form-control filter" placeholder="Filter" data-ng-model="filterText"/>
</div>

<div class="table-controls">

    <div class="pull-left">
        <span data-ng-show="page > 0">
            <a href data-ng-click="prevPage()">&laquo; Previous <span data-ng-bind="pageSize"></span> users</a> |
        </span>

        Showing <span data-ng-bind="(page * pageSize) + 1"></span>-<span
            data-ng-bind="(page * pageSize) + pagedUsers.length"></span>
        of <span data-ng-bind="filteredUsers.length"></span> users

        <span data-ng-show="page < totalPages()">
            | <a href data-ng-click="nextPage()">Next <span data-ng-bind="pageSize"></span> users &raquo;</a>
        </span>
    </div>

    <button type="button" class="btn btn-default pull-right add-user" data-ng-click="addUser()">
        <span class="glyphicon glyphicon-plus"></span> Add user
    </button>
</div>

<form name="userListForm">

    <div class="alert alert-danger" data-ng-show="userListForm.$invalid">
        <span data-ng-show="userListForm.$error.uniqueEmail">A user with this email address already exists.</span>
        <span data-ng-show="userListForm.$error.required">You must provide a Last Name, First Name, and Email.</span>
    </div>

    <table class="table table-bordered">

        <tr>
            <th data-ng-click="orderBy('lastName')">Last Name
                <span class="pull-right" data-ng-show="predicate == '-lastName'">&#9650;</span>
                <span class="pull-right" data-ng-show="predicate == '+lastName'">&#9660;</span>
            </th>
            <th data-ng-click="orderBy('firstName')">First Name
                <span class="pull-right" data-ng-show="predicate == '-firstName'">&#9650;</span>
                <span class="pull-right" data-ng-show="predicate == '+firstName'">&#9660;</span>
            </th>
            <th data-ng-click="orderBy('age')">Age
                <span class="pull-right" data-ng-show="predicate == '-age'">&#9650;</span>
                <span class="pull-right" data-ng-show="predicate == '+age'">&#9660;</span>
            </th>
            <th data-ng-click="orderBy('email')">Email
                <span class="pull-right" data-ng-show="predicate == '-email'">&#9650;</span>
                <span class="pull-right" data-ng-show="predicate == '+email'">&#9660;</span>
            </th>
            <th data-ng-click="orderBy('createdOn')">Created on
                <span class="pull-right" data-ng-show="predicate == '-createdOn'">&#9650;</span>
                <span class="pull-right" data-ng-show="predicate == '+createdOn'">&#9660;</span>
            </th>
            <th data-ng-click="orderBy('lastEdited')">Last edited
                <span class="pull-right" data-ng-show="predicate == '-lastEdited'">&#9650;</span>
                <span class="pull-right" data-ng-show="predicate == '+lastEdited'">&#9660;</span>
            </th>
            <th data-ng-click="orderBy('active')">Active
                <span class="pull-right" data-ng-show="predicate == '-active'">&#9650;</span>
                <span class="pull-right" data-ng-show="predicate == '+active'">&#9660;</span>
            </th>
        </tr>

        <tbody data-ng-repeat="user in pagedUsers = (filteredUsers = (users | filter: filterText) |
        orderBy: ['isNew', predicate] | offset: page * pageSize | limitTo: pageSize)">

        <tr data-ng-hide="user.isEditing" data-ng-class-even="'row-even'">
            <td data-ng-bind="user.lastName"></td>
            <td data-ng-bind="user.firstName"></td>
            <td data-ng-bind="user.age"></td>
            <td data-ng-bind="user.email"></td>
            <td data-ng-bind="user.createdOn | date"></td>
            <td data-ng-bind="user.lastEdited | date"></td>
            <td>
                <span class="glyphicon glyphicon-ok active-indicator" data-ng-show="user.active"></span>
                <div class="controls pull-right">
                    <span class="glyphicon glyphicon-pencil" data-ng-click="startEdit(user)"></span>
                    <span class="glyphicon glyphicon-trash" data-ng-click="remove(user)"></span>
                </div>
            </td>
        </tr>

        <tr data-ng-show="user.isEditing" data-ng-class-even="'row-even'">

            <td>
                <div class="form-group" data-ng-class="{ 'has-error': user.error.lastName }">
                    <input type="text" class="form-control" placeholder="Enter a last name"
                           data-ng-model="user.lastName" data-ng-change="fieldChanged(user)"/>
                </div>
            </td>

            <td>
                <div class="form-group" data-ng-class="{ 'has-error': user.error.firstName }">
                    <input type="text" class="form-control" placeholder="Enter a first name"
                           data-ng-model="user.firstName" data-ng-change="fieldChanged(user)"/>
                </div>
            </td>

            <td><input type="text" class="form-control" placeholder="Age"
                       data-ng-model="user.age"/></td>

            <td>
                <div class="form-group" data-ng-class="{ 'has-error': user.error.email }">
                    <input type="text" class="form-control" placeholder="email@yourdomain.com"
                           data-ng-model="user.email" data-ng-change="fieldChanged(user)"/>
                </div>
            </td>

            <td data-ng-bind="user.createdOn | date"></td>
            <td data-ng-bind="user.lastEdited | date"></td>

            <td>
                <span data-ng-click="toggleActive(user)">
                    <span class="glyphicon glyphicon-ok active-indicator toggle" data-ng-show="user.active"></span>
                    <span class="glyphicon glyphicon-ok active-indicator toggle inactive"
                          data-ng-hide="user.active"></span>
                </span>
                <div class="controls pull-right">
                    <span class="glyphicon glyphicon-remove cancel" data-ng-click="cancelEdit(user)"></span>
                    <span class="glyphicon glyphicon-check save" data-ng-click="saveEdit(user)"></span>
                </div>
            </td>

        </tr>

        </tbody>

    </table>

</form>

<div><a href="#/blank">Back</a></div>

