.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
}

.controls {
    display: inline;
}

.controls span {
    cursor: pointer;
    font-size: 18px;
    padding-left: 4px;
    padding-right: 4px;
}

.cancel {
    color: red;
}

.save {
    color: green;
}

.active-indicator {
    color: green;
    font-size: 18px;
    padding-left: 4px;
    padding-right: 4px;
}

.inactive {
    opacity: 0.25;
}

th, .toggle {
    cursor: pointer;
}

button.add-user span {
    color: green;
}

.filter {
    width: 300px;
    margin-bottom: 10px;
}

.table-controls {
    margin-bottom: 54px;
}

.row-even {
    background-color: #eee;
}

th {
    background-color: #555;
    color: white;
}

th span {
    font-size: 10px;
}

.alert {
    width: 400px;
}