<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-ng-click="cancel()">&times;</button>
        <h3 class="modal-title text-center">Confirmation</h3>
    </div>

    <div class="modal-body">
        <div class="text-center">
            <span data-ng-bind="message"></span>
        </div>
    </div>

    <div class="modal-footer">
        <div class="text-center">
            <button type="button" class="btn btn-lg btn-primary" data-ng-click="confirm()">Continue</button>
            <button type="button" class="btn btn-lg btn-default" data-ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>